.checkoutProduct{
    display:flex;
    margin-top: 15px;

}

.checkoutProduct__img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info{
    padding-left:20px
}

.checkoutProduct__title{
    font-size:17px;
    font-weight: bolder;
}

.checkoutProduct__info  button {
    
        background-color: #f0c14b;
        border:1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        margin-top:5px;
        cursor:pointer;
    
}